.hint {
    border-color: var(--pst-color-success);
    > .admonition-title {
      &:before {
        background-color: var(--pst-color-success);
      }

      &:after {
        color: var(--pst-color-success);
        content: var(--pst-icon-admonition-hint);
      }
    }
  }